<div class="content has-text-centered">
    <div class="box">
        <p>
            <span class="iconify" data-icon="mdi-cookie-alert"></span>&nbsp;
            We use cookies to make this site work. They are removed when you log out.
        </p>
        <p>
            <span class="iconify" data-icon="mdi-github"></span>&nbsp;<a href="https://github.com/danielmartling/bokningssystem">Github</a>
        </p>
        <p>
            <span class="iconify" data-icon="mdi-copyright"></span>&nbsp;<a href="https://github.com/danielmartling/bokningssystem">Contributors</a>
        </p>
    </div>
</div>