<div class="navbar-brand">
    <a class="navbar-item" href="/">
        <img src="/icons/hollyrosa.svg" class="svg-icon"><b>Anna Bookning</b></a>
    <a role="button" id="navbar-burger" class="navbar-burger" aria-label="menu" aria-expanded="false"
        onclick="burgerButton('navbar-burger')">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</div>
<div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
        <a class="navbar-item" href="/"><span class="iconify" data-icon="mdi-tent"></span>&nbsp;My group</a>
        <a class="navbar-item" href="/guest/mybookings/"><span class="iconify" data-icon="mdi-calendar"></span>&nbsp;Bookings</a>
        <a class="navbar-item" href="/guest/activities/"><span class="iconify" data-icon="mdi-hiking"></span>&nbsp;Activities</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
                <span class="iconify" data-icon="mdi-library"></span>&nbsp;Resources
            </div>
            <span class="dropdown-caret" style="cursor: pointer;"><span class="iconify" data-icon="mdi-chevron-down"></span></span>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/trappermapper/">
                    <span class="iconify" data-icon="mdi-map"></span>&nbsp;Trappermapper</a>
                <a class="navbar-item" href="/vook/">
                    <span class="iconify" data-icon="mdi-compass"></span>&nbsp;Orientering
                </a>
                <a class="navbar-item" href="/ais/">
                    <span class="iconify" data-icon="mdi-anchor"></span></i>&nbsp;AIS
                </a>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" id="group-display" href="/"><span class="iconify" data-icon="mdi-user"></span>&nbsp;My group</a>
        <hr class="navbar-divider">
        <a class="navbar-item" onclick="logout()" id="logout-link">
            <span class="iconify" data-icon="mdi-logout"></span>&nbsp;Log out</a>
    </div>
</div>