<div id="warning-box" class="notification is-danger is-hidden">
    <button class="delete" onclick="hideWarning()"></button>
    <span id="warning-message"></span>
</div>

<div id="success-box" class="notification is-success is-hidden">
    <button class="delete" onclick="hideSuccess()"></button>
    <span id="success-message"></span>
</div>

<div id="message-box" class="notification is-primary is-hidden">
    <button class="delete" onclick="hideMessage()"></button>
    <span id="message-message"></span>
</div>