<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/icons/hollyrosa-square.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bokningssystem - Template</title>
    
    <link rel="stylesheet" href="/style.css">
    <script src="/scripts/scripts.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body class="has-navbar-fixed-top">
    <nav id="common-navbar" class="navbar is-fixed-top" role="navigation" aria-label="main navigation"></nav>

    <div class="container">
        <div class="block">
            <h1 class="title">Template</h1>
        </div>
        <div class="block">
            <p>This is some text.</p>
        </div>        
    </div>

    <footer class="footer" id="common-footer"></footer>
</body>

<script>

    initHTML();

</script>

</html>